finance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RoutingService" targetNamespace="http://tempuri.org/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:i1="http://tempuri.org"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://tempuri.org/"
    xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsa10="http://www.w3.org/2005/08/addressing"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:Policy wsu:Id="reqReplyEndpoint_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <http:BasicAuthentication
                    xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
                </wsp:All>
            </wsp:ExactlyOne>
        </wsp:Policy>
        <wsp:Policy wsu:Id="BasicHttpBinding_SCC_MasterDataServices_policy">
            <wsp:ExactlyOne>
                <wsp:All>
                    <http:BasicAuthentication
                        xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
                    </wsp:All>
                </wsp:ExactlyOne>
            </wsp:Policy>
            <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://192.168.212.217/MicrosoftDynamicsAXAif60/MasterDataServicesHTTP/xppservice.svc?wsdl"/>
            <wsdl:types/>
            <wsdl:binding name="reqReplyEndpoint" type="i0:IRequestReplyRouter">
                <wsp:PolicyReference URI="#reqReplyEndpoint_policy"/>
                <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
            </wsdl:binding>
            <wsdl:binding name="BasicHttpBinding_SCC_MasterDataServices" type="i1:SCC_MasterDataServices">
                <wsp:PolicyReference URI="#BasicHttpBinding_SCC_MasterDataServices_policy"/>
                <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
                <wsdl:operation name="getListCostCenter">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getListCostCenter" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListCostCenterRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListCostCenterRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListCostCenterResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getAllMethodOfPayment">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getAllMethodOfPayment" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllMethodOfPaymentRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllMethodOfPaymentRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllMethodOfPaymentResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getAllUnit">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getAllUnit" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllUnitRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllUnitRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllUnitResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="GetAllVendor">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/GetAllVendor" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllVendorRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllVendorRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllVendorResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getListCountry">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getListCountry" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListCountryRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListCountryRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListCountryResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getAllModeOfDelivery">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getAllModeOfDelivery" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllModeOfDeliveryRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllModeOfDeliveryRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllModeOfDeliveryResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getAllTermOfPayment">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getAllTermOfPayment" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllTermOfPaymentRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllTermOfPaymentRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllTermOfPaymentResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="GetListCustomerPBF">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/GetListCustomerPBF" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListCustomerPBFRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListCustomerPBFRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListCustomerPBFResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertCustomer">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertCustomer" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertCustomerRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertCustomerRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertCustomerResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getListProductPBF">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getListProductPBF" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListProductPBFRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListProductPBFRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListProductPBFResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getListTax">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getListTax" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListTaxRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListTaxRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListTaxResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getAllMasterCurrency">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getAllMasterCurrency" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetAllMasterCurrencyRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetAllMasterCurrencyRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetAllMasterCurrencyResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="GetListCustomerJasa">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/GetListCustomerJasa" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListCustomerJasaRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListCustomerJasaRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListCustomerJasaResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertOrUpdateVendorContact">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertOrUpdateVendorContact" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertOrUpdateVendorContactRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertOrUpdateVendorContactRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertOrUpdateVendorContactResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertOrUpdateVendorAddress">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertOrUpdateVendorAddress" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertOrUpdateVendorAddressRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertOrUpdateVendorAddressRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertOrUpdateVendorAddressResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="getListMainAccount">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/getListMainAccount" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListMainAccountRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListMainAccountRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListMainAccountResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertOrUpdateVendorOrganization">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertOrUpdateVendorOrganization" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertOrUpdateVendorOrganizationRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertOrUpdateVendorOrganizationRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertOrUpdateVendorOrganizationResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertOrUpdateVendorNPWP">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertOrUpdateVendorNPWP" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertOrUpdateVendorNPWPRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertOrUpdateVendorNPWPRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertOrUpdateVendorNPWPResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="insertOrUpdateVendorPerson">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/insertOrUpdateVendorPerson" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesInsertOrUpdateVendorPersonRequest">
                        <soap:header message="i1:SCC_MasterDataServicesInsertOrUpdateVendorPersonRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesInsertOrUpdateVendorPersonResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
                <wsdl:operation name="GetListCustomer">
                    <soap:operation soapAction="http://tempuri.org/SCC_MasterDataServices/GetListCustomer" style="document"/>
                    <wsdl:input name="SCC_MasterDataServicesGetListCustomerRequest">
                        <soap:header message="i1:SCC_MasterDataServicesGetListCustomerRequest_Headers" part="context" use="literal"/>
                        <soap:body use="literal"/>
                    </wsdl:input>
                    <wsdl:output name="SCC_MasterDataServicesGetListCustomerResponse">
                        <soap:body use="literal"/>
                    </wsdl:output>
                    <wsdl:fault name="AifFaultFault">
                        <soap:fault name="AifFaultFault" use="literal"/>
                    </wsdl:fault>
                </wsdl:operation>
            </wsdl:binding>
            <wsdl:service name="RoutingService">
                <wsdl:port name="reqReplyEndpoint" binding="tns:reqReplyEndpoint">
                    <soap:address location="http://192.168.212.217/MicrosoftDynamicsAXAif60/MasterDataServicesHTTP/xppservice.svc"/>
                </wsdl:port>
                <wsdl:port name="BasicHttpBinding_SCC_MasterDataServices" binding="tns:BasicHttpBinding_SCC_MasterDataServices">
                    <soap:address location="http://192.168.212.217/MicrosoftDynamicsAXAif60/MasterDataServicesHTTP/xppservice.svc"/>
                </wsdl:port>
            </wsdl:service>
        </wsdl:definitions>
